



#include <windows.h>

//#include <winnt.h>

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "Key.ico"


LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO    VERSIONINFO
  FILEVERSION      0,9,14,95
  PRODUCTVERSION   0,9,14,95
  FILEFLAGSMASK    0x3fL // VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS        0x1L  // VS_FF_DEBUG|VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE
#else
  FILEFLAGS        0x0L  // final version
#endif
  FILEOS           VOS_NT_WINDOWS32
  FILETYPE         VFT_APP
  FILESUBTYPE      VFT2_UNKNOWN // not used
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4" // Lang=US English, CharSet=Windows Multilingual
    BEGIN
      VALUE "Build",            "Mar 2016\0"
      VALUE "Comments",         "Beta (XEON Haswell Build 1)\0"
      VALUE "CompanyName",      "\0"
      VALUE "Developer",        "-blank\0"
      VALUE "FileDescription",  "File Encryption and Decryption Utility\0"
      VALUE "FileVersion",      "0.9.14.95\0"
      VALUE "InternalName",     "FileAESCrypt (Haswell)\0"
      VALUE "LegalCopyright",   "-blank-"
      VALUE "LegalTrademarks",  "All rights reserved.\0"
      VALUE "OriginalFilename", "FileAESCrypt-h.exe\0"
      VALUE "PrivateBuild",     "-\0"
      VALUE "ProductName",      "FileAESCrypt\0"
      VALUE "ProductVersion",   "0.9.14.95 Beta (XEON Haswell Build 1)\0"
      VALUE "SpecialBuild",     "Beta\0"
      VALUE "Support",          "-\0"
      VALUE "Users",            "-\0"
    END // BLOCK "040904E4"
  END // BLOCK "StringFileInfo"
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252 // 1252 = 0x04E4
  END // BLOCK "VarFileInfo"
END
